aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiohttp-retry==2.8.3
aiosignal==1.3.1
altair==6.0.0
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
boto3==1.42.94
botocore==1.42.94
branca==0.7.2
certifi==2024.6.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.3.3
cloudpickle==3.1.2
colorama==0.4.6
comm==0.2.2
contourpy==1.3.3
copulas==0.14.1
cryptography==43.0.0
ctgan==0.12.1
cuda-bindings==13.2.0
cuda-pathfinder==1.5.3
cuda-toolkit==13.0.2
cycler==0.12.1
dask==2026.3.0
debugpy==1.8.7
decorator==5.1.1
deepecho==0.8.1
distributed==2026.3.0
executing==2.1.0
Faker==40.15.0
filelock==3.29.0
folium==0.16.0
fonttools==4.62.1
frozenlist==1.4.1
fsspec==2026.3.0
graphviz==0.21
idna==3.7
imbalanced-learn==0.14.1
ipykernel==6.29.5
ipython==8.28.0
jedi==0.19.1
Jinja2==3.1.4
jmespath==1.1.0
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.5.0
kmodes==0.12.2
locket==1.0.0
MarkupSafe==2.1.5
matplotlib==3.10.8
matplotlib-inline==0.1.7
mpmath==1.3.0
msgpack==1.1.2
multidict==6.1.0
narwhals==2.18.1
nest-asyncio==1.6.0
networkx==3.6.1
numpy==1.26.4
nvidia-cublas==13.1.0.3
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cudnn-cu13==9.19.0.56
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-cusparse==12.6.3.3
nvidia-cusparselt-cu13==0.8.0
nvidia-nccl-cu12==2.29.7
nvidia-nccl-cu13==2.28.9
nvidia-nvjitlink==13.0.88
nvidia-nvshmem-cu13==3.4.5
nvidia-nvtx==13.0.85
packaging==24.1
pandas==2.2.2
parso==0.8.4
partd==1.4.2
pexpect==4.9.0
pillow==10.3.0
platformdirs==4.3.6
plotly==6.7.0
polyline==2.0.2
prince==0.17.0
prompt_toolkit==3.0.48
psutil==6.1.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==24.0.0
pycparser==2.22
pycryptodome==3.20.0
Pygments==2.18.0
pyparsing==3.3.2
pypng==0.20220715.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-form==0.2.3
pytz==2026.1.post1
PyYAML==6.0.3
pyzmq==26.2.0
rdt==1.21.0
referencing==0.37.0
reportlab==4.2.2
requests==2.32.3
rpds-py==0.30.0
s3transfer==0.16.1
scikit-elm==0.21a0
scikit-learn==1.8.0
scipy==1.17.1
sdb==1.8
sdmetrics==0.28.0
sdv==1.36.0
seaborn==0.13.2
setuptools==81.0.0
six==1.16.0
sklearn-compat==0.1.5
sortedcontainers==2.4.0
sqlparse==0.5.0
stack-data==0.6.3
sympy==1.14.0
tblib==3.2.2
threadpoolctl==3.6.0
toolz==1.1.0
torch==2.11.0
tornado==6.4.1
tqdm==4.67.3
traitlets==5.14.3
triton==3.6.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
xgboost==3.2.0
xlrd==2.0.1
xyzservices==2024.6.0
yarl==1.12.1
zict==3.0.0
